#!/bin/sh

# Install yay if it doesn't exist
if ! command -v yay &> /dev/null
then
    pacman -S --needed git base-devel
    git clone https://aur.archlinux.org/yay.git
    cd yay
    makepkg -si
    cd ..
    rm -rf ./yay
fi

# Install all headless packages
yay -Syu --needed \
    nushell \
    neovim \
    zellij

# If not a headless install then also install all GUI related stuff
{{ $headless := eq (env "CHEZMOI_HEADLESS") "true" }}
{{ if not $headless }}
yay -Syu --needed \
    ly \
    blight \
    sway \
    alacritty
{{ end }}
