#!/bin/sh

pacman -S --needed git base-devel
git clone https://aur.archlinux.org/yay.git
cd yay
makepkg -si

yay -Syu ly
yay -Syu nushell
yay -Syu neovim
yay -Syu zellij

{{ $headless := eq (env "CHEZMOI_HEADLESS") "true" }}
{{ if not $headless }}
yay -Syu sway
yay -Syu alacritty
{{ end }}
