#!/bin/sh

# Install yay if it doesn't exist
if ! command -v yay &> /dev/null
then
    pacman -S --needed git base-devel
    git clone https://aur.archlinux.org/yay.git
    cd yay
    makepkg -si
    cd ..
    rm -rf ./yay
fi

# Check if the vars.nu file exists
# If it doesn't exist this is probably a first Install
# The user will be prompted to configure a few settings
source ~/.local/share/chezmoi/generate_env_vars.sh
# TODO: Actually load the vars.nu file in the env.nu file
#       and add them all to chezmoi.

# Install all headless packages
# TODO: Add java, jdk-openjdk, maven etc. here
# TODO: Add rust-analyze/rustup
yay -Syu --needed \
    git \
    nushell \
    neovim \
    typescript-language-server \
    jdtls \
    zellij \
    bat \
    fd \
    fzf \
    jq \
    imagemagick \
    docker \
    docker-compose \
    docker-buildx \
    helm \
    kubectl \
    kubie \
    k9s \
    go \
    gomplate-bin

# If not a headless install then also install all GUI related stuff
{{ $headless := eq (env "CHEZMOI_HEADLESS") "true" }}
{{ if not $headless }}
yay -Syu --needed \
    wev \
    wireplumber \
    ffmpeg \
    mpv \
    ly \
    blight \
    sway \
    swaybg \
    grim \
    slurp \
    mako \
    alacritty \
    noto-fonts \
    noto-fonts-emoji \
    ttf-jetbrains-mono \
    ttf-jetbrains-mono-nerd
{{ end }}
