shared_except "locked" {
    bind "Alt f" {
        LaunchOrFocusPlugin "file:~/.config/zellij/plugins/zellij_forgot.wasm" {
            floating true
        }
    }
}
// Choose the path to the default shell that zellij will use for opening new panes
// Default: $SHELL
//
default_shell "nu"

// Toggle between having pane frames around the panes
// Options:
//   - true (default)
//   - false
//
pane_frames false

// Define color themes for Zellij
// For more examples, see: https://github.com/zellij-org/zellij/tree/main/example/themes
// Once these themes are defined, one of them should to be selected in the "theme" section of this file
//
themes {
    oxocarbon {
        fg "#525252"
        bg "#262626"
        red "#ee5396"
        green "#78a9ff"
        yellow "#ff7eb6"
        blue "#33b1ff"
        magenta "#be95ff"
        orange "#ee5396"
        cyan "#82cfff"
        black "#161616"
        white "#f2f4f8"
    }
}

// Choose the theme that is specified in the themes section.
// Default: default
//
theme "oxocarbon"

// The name of the default layout to load on startup
// Default: "default"
//
default_layout "compact"
